<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="images/football1.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/football1.png" sizes="16x16" />
  <title>Travel</title>
<!--  html-->
  <link rel="import" href="footer.html" id="footer">
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/index_style.css" rel="stylesheet" type="text/css">
  <link href="css/custom-responsive-styles.css" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/all-plugins.js"></script>
  <script type="text/javascript" src="js/plugins-activate.js"></script>
</head>

<body id="page-top">
<div id="app">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-soccer-ball-o" aria-hidden="true"><span>老李足球</span></i>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="smooth-scroll" href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#page-top">首页</a>
      </li>
<!--      <li class="sidebar-nav-item">-->
<!--        <a class="smooth-scroll" href="#About">About</a>-->
<!--      </li>-->
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Services">联赛榜单</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Testimonials">英超诸强</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Portfolio">管理员登录</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#footer">版权信息</a>
      </li>
    </ul>
  </nav>
  <!-- Header Starts -->
  <section id="Banner" class="content-section">
    <div class="container content-wrap text-center">
      <h1>最全的足球数据库</h1>
      <h3>
          <em>囊括五大洲各个联赛以及10w+球员的数据</em>
        </h3>
      <a class="btn btn-primary btn-xl smooth-scroll" href="#Services">尽情探索</a>
    </div>
    <div class="overlay"></div>
  </section>

  <section id="Services" class="content-section text-center">
    <div class="container">
      <div class="block-heading">
        <h2>联赛榜单</h2>
        <p>寻找最靓的仔</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6" onclick="window.open('points.html')">
          <div class="service-box">
            <div class="service-icon yellow">

              <div class="front-content">
                <i class="fa fa-table" aria-hidden="true"></i>
                <h3>积分榜</h3>
              </div>

            </div>
            <div class="service-content">
              <h3>联赛排名</h3>

            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6" onclick="window.open('score.html')">
          <div class="service-box">
            <div class="service-icon orange">
              <div class="front-content">
                <i class="fa fa-futbol-o"></i>
                <h3>射手榜</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>球员进球数排名</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6" onclick="window.open('assist.html')">
          <div class="service-box ">
            <div class="service-icon red">
              <div class="front-content">
                <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                <h3>助攻榜</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>球员助攻排名</h3>
            </div>
          </div>

        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon grey">
              <div class="front-content">
                <i class="fa fa-ban"></i>
                <h3>红牌榜</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>反映球员纪律</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- TESTIMONIALS -->
  <section id="Testimonials" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-heading">
            <h2>英超诸强</h2>
            <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
          </div>
          <div id="customers-testimonials" class="owl-carousel">
            <div class="item" onclick="window.open('mancity.html')">
              <div class="shadow-effect">
                <img class="img-circle" src="images/mancity.png" alt="">
                <!--                <p>曼彻斯特城足球俱乐部（Manchester City F.C.），简称“曼城”，绰号“蓝月亮” ，是一家位于英国的曼彻斯特的足球俱乐部。截至2020-21赛季结束，曼城共夺得7座英格兰顶级联赛冠军、6座英格兰足总杯冠军和8座英格兰联赛杯冠军</p>-->
              </div>
              <div class="testimonial-name">曼城</div>
            </div>
            <div class="item" onclick="window.open('manunited.html')">
              <div class="shadow-effect">
                <img class="img-circle" src="images/manunited.png" alt="">
                <!--                <p>曼彻斯特联足球俱乐部（Manchester United F.C.），成立于1902年，中文简称“曼联”，英文简称“Man Utd”或“MUFC”，位于英国西北区大曼彻斯特郡曼彻斯特市，隶属于英格兰足球超级联赛。在1998-99赛季成为欧洲足球五大联赛历史上第一支加冕赛季三冠王的球队，在2010-11赛季成为夺得英格兰足球顶级联赛冠军最多的球队。亦是欧洲足坛夺得欧洲三大杯的大满贯球队之一。</p>-->
              </div>
              <div class="testimonial-name">曼联</div>
            </div>
            <div class="item" onclick="window.open('chelsea.html')">
              <div class="shadow-effect">
                <img class="img-circle" src="images/chelsea.png" alt="">
                <!--                <p>切尔西足球俱乐部（Chelsea F.C），成立于1905年3月10日 ，绰号“蓝军”，主场位于斯坦福桥球场，现参加英格兰足球超级联赛。至2020年8月2日，切尔西在国内赛场共赢得过6次英格兰顶级联赛冠军，8次英格兰足总杯冠军，5次英格兰联赛杯冠军，4次英格兰社区盾冠军。在洲际赛场，切尔西获得过2次欧洲优胜者杯冠军，1次欧洲超级杯冠军，2次欧洲冠军联赛冠军，2次欧罗巴联赛冠军。 </p>-->
              </div>
              <div class="testimonial-name">切尔西</div>
            </div>
            <div class="item" onclick="window.open('arsenal.html')">
              <div class="shadow-effect">
                <img class="img-circle" src="images/asenal.png" alt="">
                <!--                <p>阿森纳足球俱乐部（Arsenal F.C.，简称阿森纳），是一家位于英国首都伦敦西北部的足球俱乐部，成立于1886年，是英格兰足球超级联赛球队之一是英格兰历史上最具规模的俱乐部之一，亦是英格兰顶级足球联赛停留得最久的俱乐部。自俱乐部成立以来，共夺得13次英格兰顶级联赛冠军（3次英超冠军）、14次英格兰足总杯冠军和2次英格兰联赛杯冠军。</p>-->
              </div>
              <div class="testimonial-name">阿森纳</div>
            </div>
            <div class="item" onclick="window.open('spur.html')">
              <div class="shadow-effect">
                <img class="img-circle" src="images/spur.png" alt="">
                <!--                <p>托特纳姆热刺足球俱乐部（Tottenham Hotspur F.C），成立于1882年，主场为英国伦敦北部托特纳姆的新白鹿巷球场，是英格兰足球超级联赛的球队之一。热刺是二十世纪首支成为联赛及英格兰足总杯双料冠军的球队，是三支可以连夺两届英格兰足总杯的球队之一，亦是唯一曾两度实现这一成绩的球队。</p>-->
              </div>
              <div class="testimonial-name">热刺</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/fulham.png" alt="">
              </div>
              <div class="testimonial-name">富勒姆</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/lei.png" alt="">
              </div>
              <div class="testimonial-name">莱斯特城</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/leeds.png" alt="">
              </div>
              <div class="testimonial-name">利兹联</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/southhamton.png" alt="">
              </div>
              <div class="testimonial-name">南安普顿</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/cry.png" alt="">
              </div>
              <div class="testimonial-name">水晶宫</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/newcastle.png" alt="">
              </div>
              <div class="testimonial-name">纽卡斯尔联</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/vila.png" alt="">
              </div>
              <div class="testimonial-name">阿斯顿维拉</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/bri.png" alt="">
              </div>
              <div class="testimonial-name">布莱顿</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/westham.png" alt="">
              </div>
              <div class="testimonial-name">西汉姆联</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/westb.png" alt="">
              </div>
              <div class="testimonial-name">西布朗</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/wolve.png" alt="">
              </div>
              <div class="testimonial-name">狼队</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/everton.png" alt="">
              </div>
              <div class="testimonial-name">埃弗顿</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/sheffield.png" alt="">
              </div>
              <div class="testimonial-name">谢菲尔德联</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="images/burnley.png" alt="">
              </div>
              <div class="testimonial-name">伯恩利</div>
            </div>
            <div class="item" onclick="window.open('liverpool.html')">
              <div class="shadow-effect">
                <img class="img-circle" src="images/liverpool.png" alt="">
              </div>
              <div class="testimonial-name">利物浦</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF TESTIMONIALS -->
  <section id="Contact" class="content-section">
    <div class="container">
      <div class="block-heading">
        <h2>管理员登录</h2>
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
      </div>
      <div class="ab1">

        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-wrap">
              <div class="fname floating-label">
                <input type="text" class="floating-input" name="username" v-model="user.username"/>
                <label >账 号</label>
              </div>
              <div class="fname floating-label">
                <input type="password" class="floating-input" name="pwd" v-model="user.pwd"/>
                <label >密 码</label>
              </div>
              <div class="email floating-label">
                <input type="text" class="floating-input" name="email" />
                <label >验证码</label>
                <img :src="src" :key="key" @click="getImage" id="img-vcode" width="100px">
              </div>

<!--              <div class="contact floating-label">-->
<!--                <input type="tel" class="floating-input" name="contact" />-->
<!--                <label for="email">Mobile</label>-->
<!--              </div>-->
<!--              <div class="company floating-label">-->
<!--                <textarea type="text" class="floating-input" name="company" /></textarea>-->
<!--                <label for="email">Message</label>-->
<!--              </div>-->
              <div class="submit-btn">
                <button type="submit" @click="login">Submit</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--  <footer class="footer text-center" id="footer">-->
<!--    <div class="container">-->
<!--      <ul class="list-inline">-->
<!--        <li class="list-inline-item">-->
<!--          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">-->
<!--              <i class="fa fa-github" aria-hidden="true"></i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">-->
<!--              <i class="fa fa-qq" aria-hidden="true"></i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--          <a class="social-link rounded-circle text-white" href="javascript:void(0)">-->
<!--              <i class="fa fa-weibo" aria-hidden="true"></i>-->
<!--            </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <p class="xi">粤CP备 2021002702号-1</p>-->
<!--      <p class="xi">© 2021 李球 Inc. All rights reserved • Terms of Use Privacy Policy</p>-->
<!--      <p class="xi">地址:中国广东省广州市广外南苑7-421</p>-->
<!--    </div>-->
<!--  </footer>-->
  <script type="text/javascript">
    document.write(footer.import);
  </script>
</div>
</body>

</html>
<script type="text/javascript">
  document.write(footer.import.body.innerHTML);
</script>
<script src="./js/vue.js"></script>
<script src="./js/axios.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      user: {},
      code: "",
      time: "",
      src: "",
      key: ""
    },
    methods: {

      getImage() {
        _this = this;
        axios.get("http://localhost:8989/user/getImage").then((res) => {
          console.log(res.data);
          _this.src = "data:image/png;base64," + res.data.image;
          _this.key = res.data.key;
        })
      },
      login(){
        axios.post("http://localhost:8989/user/login",this.user).then((res)=>{
          console.log(res.data);
          localStorage.setItem("userid",res.data.userId);
          if(res.data.state){
            alert(res.data.msg+",点击进入主页")
            location.href='admin.html';
          }else {
            alert(res.data.msg)
          }
        });
      }
    },
    created() {
      this.getImage(); // 获取验证码

    }
  });
</script>